body {
	color: #333;
	background-color: #EEEAE7;
	margin: 0;
	padding: 0;
}

header {
	background-color: #BCC6DD;
	padding: 20px;
	text-align: center;
	color: white;
}

header p {
	color: white;
}

p {
	font-size: 1em;
	font-family: sans-serif, arial;
	color: #555;
	margin: 10px 20px;
}

.navbar {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	position: relative;
  	display: flex;
  	justify-content: space-around;
 	background-color: #333;
}

.navbar li {
	display: inline-block;
	color: white;
	padding: 10px 20px;
}

.navbar li:hover {
	background-color: #575757;
	color: #BCC6DD;
}

.navbar li ul {
	display: none;
	position: absolute;
	background-color: #444;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 25%;;
}

.navbar li:hover ul {
  	display: block;
}

.navbar li ul li {
  	padding: 5px;
  	color: white;
  	text-align: left;
}


a {
  	color: #007bff;
	text-decoration: none;
}

a:hover {
  	text-decoration: underline;
}

@media all {
 	body {
    font-size: 1em;
  	}
}

@media print {
 	body {
    	color: black;
    	background-color: white;
  	}
	.navbar {
    	display: none;
	}
}